export(clearCheck)
export(initDB)
export(load_db)
export(outlier.cutoff)
export(outlier.norm)
export(outlier.t)
export(proportion.outliers.mle)
export(proportion.outliers.robust)
export(qaPreprocess)
export(qoutlier)
export(read.qaTask)
export(rlm)
export(save_db)
export(saveToDB)
exportClasses(qaTask)
exportMethods("htmlReport<-")
exportMethods("qpar<-")
exportMethods("rFunc<-")
exportMethods("scatterPar<-")
exportMethods(getQAStats)
exportMethods(htmlReport)
exportMethods(plot)
exportMethods(qaCheck)
exportMethods(qaReport)
exportMethods(qpar)
exportMethods(queryStats)
exportMethods(rFunc)
exportMethods(scatterPar)
importFrom(Biobase,rowMedians)
importFrom(flowWorkspace,lapply)
importFrom(hwriter,closePage)
importFrom(hwriter,hwrite)
importFrom(hwriter,openPage)
importFrom(latticeExtra,axis.grid)
importFrom(latticeExtra,ggplot2like)
importFrom(latticeExtra,useOuterStrips)
importFrom(MASS,huber)
importFrom(MASS,rlm)
importFrom(RSVGTipsDevice,devSVGTips)
importFrom(RSVGTipsDevice,setSVGShapeToolTip)
importFrom(RSVGTipsDevice,setSVGShapeURL)
importFrom(stats4,plot)
importFrom(XML,"xmlAttrs<-")
importFrom(XML,addChildren)
importFrom(XML,saveXML)
importFrom(XML,xmlCDataNode)
importFrom(XML,xmlGetAttr)
importFrom(XML,xmlNode)
importFrom(XML,xmlRoot)
importFrom(XML,xmlTreeParse)
